# IDE Settings
*.iml
.idea/
.kotlin/
.vscode/

# Build & Artifacts
.gradle/
/build/
app/build/
.artifacts/
.build-outputs/
/captures/
.externalNativeBuild/
.cxx/

# Node & Dependencies
node_modules/
backend/node_modules/

# Secrets & Local Properties
local.properties
.env
backend/.env
debug.keystore
debug.keystore.base64

# OS Generated
.DS_Store